<html>
    <head>
        <title>Home</title>
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    </head>
    <body>
        <p>Game</p>
        <a href="/">Home</a>
    </body>
</html>
