<html>
    <head>
        <title>Home</title>
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    </head>
    <body>
        <p>Join Game</p>
        <label for="key">Access Code: </label>
        <input id="code" value="code" type="text" />
        <label for="code">Name: </label>
        <input id="name" value="name" type="text" />
        <a href="/lobby">Join game</a>
    </body>
</html>
