<html>
    <head>
        <title>Lobby</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="/public/application.js"></script>
    </head>
    <body ng-app = 'word' ng-controller="lobbyCtrl">
        <div class="row" ng-init='players = <%- JSON.stringify(players) %>'>
            <div class="col-md-12 text-center">
                <p>Lobby</p>
                <div>
                    <% for(var i = 0; i < players.length; i++){ %>
                        <p><%= players[i].name %></p>
                    <% } %>
                </div>

                <a class="btn btn-default" href="/game/<%= accessCode %>">
                    <span style="font-size:2em;">Start</span></a>
                <a class="btn btn-default" href="/"><span style="font-size:2em;">Back</span></a>
            </div>
        </div>
    </body>
</html>
