<html>
    <head>
        <title>Home</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body ng-app="word" ng-controller="newGameCtrl">
        <p>New Game</p>
        <label for="code">Name: </label>
        <input ng-bind="name" id="name" type="text" />
        <a href="/lobby" class="btn btn-default" ng-click="sendName()">Start New</a>
    </body>
    <script>
        var app = angular.module("word",[]);

        app.controller("newGameCtrl", function($scope, $http){
            $scope.name;
            $scope.sendName = function(){
                $http.post("/game/create", { name: $scope.name });
            }
        });
    </script>
</html>
