

<html>
    <head>
        <title>Home</title>
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    </head>
    <body>
        <p>New Game</p>
        <label for="code">Name: </label>
        <input id="name" value="name" type="text" />
        <a href="/lobby">Start New</a>
    </body>
</html>
